.header {
    background-color: lightblue;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 2.5em;
}

.input {

    width: 20%;
}

.tickerInput {
    text-align: center;
}